body {
    text-align: center;
    background: #eff0f6;
    font-family: 'Anek Devanagari', sans-serif;
}

.heading {
    background: #44434e;
    font-size: 1.3rem;
    color: #00c425;
}

.heading-second {
    background: #c9c9d1;
    font-size: 1.3rem;
    color: #00ad21;
    margin-bottom: 10px;
}

.heading-second div {
    padding-top: 15px;
}

#description {
    padding-top: 10px;
}

#start-btn {
    color: #396;
    width: 20%;
    margin: auto;
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
}

#clock {
    margin-top: 130px;
}


#image {
    display: none;

}

#image-caption {
    font-size: larger;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0e2c4c;
    font-size: 70px;
    /* width: 100px; */
    /* height: 100px; */
    background-color: #008945;
    border-radius: 50%;
    padding-top: 15px;
    margin-bottom: 15px;
}

.clock-btn {
    border: none;
    /* border-radius: 50%; */
    width: 90%;
    height: 90%;
    cursor: pointer;
}
